.center-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.no-flex-grow {
    flex-grow: 0;
}

.flex-shrink {
    flex-shrink: 1;
}

.w-100::deep {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.justify-content-center::deep {
    display: flex;
    justify-content: center;
}