header {
    display: flex;
    width: 100%;
    border-bottom: solid 1px #d7d7d7;
    justify-content: center;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.05);
}

.header-content {
    width: 70%;
    margin: 0.2em;
    display: flex;
    justify-content: center;
}

.logo-in-header {
    height: 3em;
    margin: 0.6em;
}

main {
    display: flex;
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

.card-block {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
    padding: 2em;
    margin: 1em;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

footer {
    color: white;
    background-color: rgb(50 50 50);
    box-shadow: 0px -5px 25px -4px #B5B5B5;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 1.8em 0;
}

.width-100 {
    width: 100%;
}
.center-text {
    text-align: center;
}
.no-decoration {
    text-decoration: none;
}
.text-white {
    color: white;
}