@inherits LayoutComponentBase

<header>
    <div class="header-content text-in-header">
        <img src="img/logo.png" class="logo-in-header"/>Weazor
    </div>
</header>

<div class="center-content">
    <main>
        @Body
    </main>
</div>

<footer>
    <div class="width-100 center-text">Developed by Dmitry Golubenkov © 2021</div>
    <div class="width-100"><a class="center-text no-decoration text-white" href="https://github.com/DmitryGolubenkov"><img src="img/GitHub-Mark-Light-120px-plus.png" style="height: 2em; margin: 0.7em" /></a></div>
</footer>
